MONGO_URI=mongodb://localhost:27017/bride_db
JWT_SECRET=my_super_secret_jwt_key
JWT_REFRESH_SECRET=my_refresh_secret
PORT=5001
RESEND_API_KEY=Re_Fdu2jwVc_K3GjvRubbxsiynm21fP151X1
FROM_EMAIL=onboarding@resend.dev
FROM_NAME=B-Ride
VONAGE_API_KEY=bab11c73
VONAGE_API_SECRET=gLAIWl8ubEuaWEEU
VONAGE_FROM=BRide
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
CONEKTA_API_KEY=your_conekta_key_here
CDN_URL=
SENTRY_DSN=
